
    <div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> Add New User </h1>

     <form action="/admin/adduser/submitted" method="post" autocomplete="off">

       <div class="row text-center mt-5">

           <div class="col-md-2"></div>

           <div class="col-md-4">
               <label for="Username" class="form-label account_search_labels" >User Name:</label>
               <input type="text" class="form-control text-center" id="Username" name="UserName" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>

           <div class="col-md-4">
               <label for="Password" class="form-label account_search_labels" >Password:</label>
               <input type="text" class="form-control text-center" id="Password" name="Password" aria-label="Password" aria-describedby="basic-addon1" required>
            </div>

           <div class="col-md-2"></div>

       </div>


         <div class="row text-center mt-4">

             <div class="col-md-2"></div>

             <div class="col-md-4">
                 <label for="Department" class="form-label account_search_labels">Department:</label>
                 <select class="form-select text-center" id="Department" name="Department" aria-label="Department" aria-describedby="basic-addon1" required>
                     {% for dept in deptList %}
                        <option>{{dept}}</option>
                     {% endfor %}
                 </select>

             </div>

             <div class="col-md-4">
                 <label for="EmailAddress" class="form-label account_search_labels">Email Address:</label>
                 <input type="email" class="form-control text-center" id="EmailAddress" name="Email" aria-label="Email" aria-describedby="basic-addon1">
             </div>

             <div class="col-md-2"></div>
       </div>


         <div class="row text-center">

             <div class="d-grid gap-5 col-4 mx-auto mt-5">
                    <button class="btn btn-primary" type="submit">
                    Save User</button>
             </div>
         </div>


     </form>

    </div>


    <script>
        /* https://stackoverflow.com/questions/36113900/how-to-clear-form-data-after-submit-but-after-data-passed */
        function clearForms()
        {
          var i;
          for (i = 0; (i < document.forms.length); i++) {
            document.forms[i].reset();
          }
        }
    </script>
