<!DOCTYPE html>
<html lang="en">
  <head>

    <title> Account Search </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg">

    {% include 'nav.html' %}

    <div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> Account Search </h1>

      <form autocomplete="off" id="formAccountSearch">

        <div class="row text-center">

          <div class="col-md-3">
            <label for="AccountNumber" class="form-label account_search_labels">Account Number</label>
            <input type="number" class="form-control text-center" placeholder="Ex. 777" id="AccountNumber" name = "AccountNumber" aria-label="AccountSearch" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-3">
            <label for="ParcelID" class="form-label account_search_labels">PCN (Parcel ID)</label>
            <input type="text" class="form-control text-center" placeholder="Ex. 15-37-41-009-000-00030-9" id="ParcelID" name = "PCN" aria-label="ParcelSearch" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-3">
            <label for="SitusAddress" class="form-label account_search_labels">Situs Address</label>
            <input type="text" class="form-control text-center" placeholder="Ex. 4096 NE HYLINE DR" id="SitusAddress" name = "SitusAddress" aria-label="AddressSearch" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-3">
            <label for="OwnerName" class="form-label account_search_labels">Owner Name</label>
            <input type="text" class="form-control text-center" placeholder="Ex. ANDERSSON" id="OwnerName" name = "OwnerName" aria-label="NameSearch" aria-describedby="basic-addon1">
          </div>

          <div class="d-grid gap-5 col-4 mx-auto mt-5">
                <input class="btn btn-primary" type="submit"></input>
          </div>

        </div>
      </form>

      <div class="col-12 mx-auto mt-5 table_outer">
        <table class="table table-default table-striped table-hover" id="account_table">
          <thead>
          <tr>
            <th onclick="" scope="col" style="cursor:pointer;">Account</th>
            <th onclick="" scope="col" style="cursor:pointer;">PCN</th>
            <th onclick="" scope="col" style="cursor:pointer;">Situs</th>
            <th onclick="" scope="col" style="cursor:pointer;">Owner Name</th>
            <th onclick="" scope="col" style="cursor:pointer;">Land Use Code</th>
            <th onclick="" scope="col" style="cursor:pointer;">History</th>
          </tr>
          </thead>

          <tbody>
          {% for account in account_data %}

              <tr>
                  <td><a href="/ticket/{{account['AccountNumber']}}">{{account['AccountNumber']}}</a></td>
                  <td>{{account['PCN']}}</td>
                  <td>{{account['SitusAddress']}}</td>
                  <td>{{account['OwnerName']}}</td>
                  <td>{{account['LandUseCodeDescription']}}</td>
                  <td><a href="/account/{{account['AccountNumber']}}"><img src="../static/ticket_history_icon.png" alt="icon" height="30" width="30"/></a></td>
              </tr>

          {% endfor %}
          </tbody>

        </table>
      </div>

      <div class="d-grid gap-5 col-4 mx-auto mt-5">
        <a class="btn btn-primary" href="/ticket" type="button">
          Use Blank Ticket</a>
      </div>

    </div>

    {% include 'footer.html' %}

    <script>
      $(document).ready(function () {
        $('#account_table').DataTable();
      });
    </script>

  </body>
</html>