<!DOCTYPE html>
<html>
  <head>

    <title> Account Search </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg-info-subtle">

    {% include 'nav.html' %}

    <div class = "container">

      <h1 class = "p-3 bg-body-secondary border border-info border-start-10 rounded-start rounded-end text-center mt-5 fw-bold mx-auto"> Account Search </h1>

      <form autocomplete="off">

        <div class="row text-center" style="margin-top:40px; margin-bottom:42px;">

          <div class="col-md-3">
            <label for="AccountNumber" class="form-label mb-3" style="font-size:20px; font-weight:500;">Account Number</label>
            <input type="number" class="form-control text-center" placeholder="Ex. 777" id="AccountNumber" name = "AccountNumber" aria-label="AccountSearch" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-3">
            <label for="ParcelID" class="form-label mb-3" style="font-size:20px; font-weight:500;">PCN (Parcel ID)</label>
            <input type="text" class="form-control text-center" placeholder="Ex. 15-37-41-009-000-00030-9" id="ParcelID" name = "PCN" aria-label="ParcelSearch" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-3">
            <label for="SitusAddress" class="form-label mb-3" style="font-size:20px; font-weight:500;">Situs Address</label>
            <input type="text" class="form-control text-center" placeholder="Ex. 4096 NE HYLINE DR" id="SitusAddress" name = "SitusAddress" aria-label="AddressSearch" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-3">
            <label for="OwnerName" class="form-label mb-3" style="font-size:20px; font-weight:500;">Owner Name</label>
            <input type="text" class="form-control text-center" placeholder="Ex. ANDERSSON" id="OwnerName" name = "OwnerName" aria-label="NameSearch" aria-describedby="basic-addon1">
          </div>

          <div class="d-grid gap-5 col-4 mx-auto mt-5">
                <input class="btn btn-primary btn-lg fw-bold" type="submit" style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 50px;">
                </input>
          </div>

        </div>
      </form>

      <div class="col-12 mx-auto mt-5 table_outer">
        <table class="table table-default table-striped table-hover" id="account_table">
          <thead>
          <tr>
            <th onclick="" scope="col" style="cursor:pointer;">Account</th>
            <th onclick="" scope="col" style="cursor:pointer;">PCN</th>
            <th onclick="" scope="col" style="cursor:pointer;">Situs</th>
            <th onclick="" scope="col" style="cursor:pointer;">Owner Name</th>
          </tr>
          </thead>

          <tbody>
          {% for account in account_data %}

              <tr>
                  <td><a href="/ticket/{{account['AccountNumber']}}">{{account['AccountNumber']}}</a></td>
                  <td>{{account['PCN']}}</td>
                  <td>{{account['SitusAddress']}}</td>
                  <td>{{account['OwnerName']}}</td>
              </tr>

          {% endfor %}
          </tbody>

        </table>
      </div>

      <div class="d-grid gap-5 col-4 mx-auto mt-5">
        <a class="btn btn-primary btn-lg fw-bold" href="/ticket" type="button" style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 50px;">
          Use Blank Ticket</a>
      </div>

    </div>

    {% include 'footer.html' %}

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    <script>
      $(document).ready(function () {
        $('#account_table').DataTable();
      });
    </script>

  </body>
</html>