<!DOCTYPE html>
<html>
  <head>

    <title> Dashboard </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    <script type=text/javascript>
      $(function() {
          $('a#filter').on('click', function(e) {
            e.preventDefault()
              var year = document.getElementById("TicketYear");
              var type = document.getElementById("TicketType");
              var selectedType = type.options[type.selectedIndex].text;
              var selectedYear = year.options[year.selectedIndex].text;

              var str = "/dashboard".concat("/", selectedYear).concat("/", selectedType);

            $.getJSON(str,
                function(data) {
                  updatePieGraphs(pieChart_ContactType, ['Type Count'], ['#DA8B7F', '#CECF9E', '#BECBD5', '#EDEAE6'], [data["ContactTypeCounts"]["Email"], data["ContactTypeCounts"]["Phone Call"], data["ContactTypeCounts"]["Walk In"], data["ContactTypeCounts"]["Web Chat"]]);
                  updatePieGraphs(pieChart_TicketStatus, ['Status Count'], ['#DA8B7F', '#CECF9E', '#BECBD5'], [data["TicketStatusCounts"]["Closed"], data["TicketStatusCounts"]["Open"], data["TicketStatusCounts"]["Pending"]]);
                  updateLineGraphs(lineChart_TicketsCreated, ['Tickets Created Count'], ['#F3CC7A'],[data["TicketsCreatedCounts"]["Counts"]], [data["TicketsCreatedCounts"]["Dates"]]);
                  updateLineGraphs(barChart_TicketsByDept, ['Return Operator Count'], ['#F3CC7A','#DA8B7F','#CECF9E','#58595B','#BECBD5','#8D8D88','#7B7561','#EDEAE6'],[data["ReturnOperatorCounts"]["Counts"]], [data["ReturnOperatorCounts"]["ReturnOperators"]]);
                  updateLineGraphs(barChart_userGotItCounts, ['Got It Count'], ['#F3CC7A'],[data["UserGotItCounts"]["GotItCounts"]], [data["UserGotItCounts"]["Usernames"]]);
                });
            return false;
          });
        });
    </script>

    <div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> Ticket Data Dashboard </h1>

      <div class="row text-center border-bottom border-black mb-5">

        <div class="col-md-4 mt-4 mb-4">

          <a id="filter" type="button" class="btn btn-primary mt-2" data-val="" data-action="">Filter </a>

        </div>

        <div class="col-md-4">
          <label for="TicketType" class="form-label account_search_labels">Ticket Type:</label>
          <select class="form-select text-center" id="TicketType" name="TicketType" aria-label="TicketType" aria-describedby="basic-addon1" required>
            {% for type in ticketTypes %}
            <option>{{type}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4">
          <label for="TicketYear" class="form-label account_search_labels">Ticket Year:</label>
          <select class="form-select text-center" id="TicketYear" name="TicketYear" aria-label="TicketYear" aria-describedby="basic-addon1" required>
            {% for year in ticketYears %}
            <option>{{year}}</option>
            {% endfor %}
          </select>

        </div>

      </div>

      {% include 'DB_PieCharts.html' %}

      {% include 'DB_LineChart.html' %}

      {% include 'DB_BarChart.html' %}

      {% include 'DB_HorizontalGotItBarChart.html' %}


    </div>


    {% include 'footer.html' %}

  </body>
</html>