<!DOCTYPE html>
<html lang="en">
  <head>

    <title> MCPAO Customer Tracking </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    <div class = "container">

        <h1 class="header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto">You've encountered an error!</h1>

        <h3 class="col mb-4"> Please email PA IT using the link below with a screenshot of this error (make sure to get the URL as well) and any additional details you can provide. Thanks! :) </h3>

        <div class="col border-top border-black">
          <div class="mt-4">
            {{ error }}
          </div>
        </div>

        <div class="d-grid gap-5 col-6 mx-auto mt-5">
        <a class="btn btn-primary" href="/" type="button">
          Home</a>
      </div>

    </div>

    {% include 'footer.html' %}
  </body>
</html>