<!DOCTYPE html>
<html>
  <head>

    <title> MCPAO Customer Tracking </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    <div class = "container">

          <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> Customer Tracking </h1>

          <div class="row">

            <div class="col-12">
              <p class = "lead">
                Welcome to the new Customer Tracking Application home page! Below are the main buttons used to navigate throughout the application. Please try out all the buttons, links, & features to get an idea of how the application functions. The top button will navigate you to the account search page to create a new ticket or view an account's ticket history. The middle button will navigate you to the ticket search page allowing you to find existing tickets. The bottom button will navigate you to a dashboard displaying charts representing customer tracking ticket data. There are also links in both the header and footer for additional navigation options.
              </p>
            </div>

            <div class="d-grid gap-5 col-6 mx-auto mt-5">

              <a class="btn btn-primary" href="/create" type="button">
                Account Search / Create Ticket</a>

              <a class="btn btn-primary" href="/search" type="button">
                Ticket Search</a>

              <a class="btn btn-primary" href="/dashboard" type="button">
                Dashboard</a>

              <!-- <a href="mailto:PA_IT@pa.martin.fl.us?subject=Customer Tracking App Support" class="btn btn-primary" type="button">Email IT</a> -->

              {% if isAdmin == 1 %}
              <a class="btn btn-primary" href="/admin" type="button">
                Admin Tasks</a>
              {% endif %}

            </div>

          </div>

        </div>

    {% include 'footer.html' %}

  </body>
</html>