<!DOCTYPE html>
<html lang="en">
  <head>

    <title> MCPAO Customer Tracking Login </title>
    {% include 'bootstrap.html' %}

    {% if error %}
      <style>
        #username_field {
          color: red;
          font-weight: bold;
        }
      </style>

      <style>
        #password_field {
          color: red;
          font-weight: bold;
        }
      </style>
    {% endif %}

  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    <div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> Customer Tracking Login </h1>

      <form method="post" autocomplete="off" id="formLogin">

        <div class="row text-center">

          <div class="col-md-3"></div>

          <div class="col-md-6">
            <label for="Username" class="form-label account_search_labels" id="username_field">User Name {% if error %} >> {{ error }} {% endif %}</label>
            <input type="text" class="form-control text-center mb-3" placeholder="" id="Username" name = "Username" aria-label="Username" aria-describedby="basic-addon1">

            <label for="Password" class="form-label account_search_labels" id="password_field">Password {% if error %} >> {{ error }} {% endif %}</label>
            <input type="password" class="form-control text-center" placeholder="" id="Password" name = "Password" aria-label="Password" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-3"></div>

        </div>

        <div class="row text-center">

          <div class="col-md-3"></div>

          <div class="col-md-6">
              <div class="d-grid gap-5 col-6 mx-auto mt-5">
                    <input class="btn btn-primary" type="submit">
                    </input>
              </div>
          </div>

          <div class="col-md-3"></div>

        </div>

      </form>

    </div>

    {% include 'footer.html' %}
  </body>
</html>