<!DOCTYPE html>
<html lang="en">
  <head>

    <title> Successful Submission </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    <div class = "container">

      {% if newUser %}
        <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> User {{ newUser }} Created! </h1>
      {% else %}
        <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> Ticket Submitted! </h1>
      {% endif %}

      <div class="d-grid gap-5 col-6 mx-auto mt-5">
        <a class="btn btn-primary" href="/" type="button">
          Home</a>

        <a class="btn btn-primary" href="/search" type="button">
          Ticket Search</a>
      </div>

    </div>

    {% include 'footer.html' %}

  </body>
</html>