<!DOCTYPE html>
<html>
  <head>

    <title> Ticket Search </title>
    {% include 'bootstrap.html' %}


  </head>
  <body class = "bg-info-subtle">
    {% include 'nav.html' %}

    <div class = "container">

      <h1 class = "p-3 bg-body-secondary border border-info border-start-10 rounded-start rounded-end text-center mt-5 fw-bold mx-auto"> View Tickets </h1>

      <form autocomplete="off">
        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketNumberSearch" class="form-label" style="font-size:25px;"><b>Ticket Number</b></label>
            <input class="form-control text-center" id="TicketNumberSearch" name ="TicketNumber" type="number">
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="AccountNumberSearch" class="form-label" style="font-size:25px;"><b>Account Number</b></label>
            <input class="form-control text-center" id="AccountNumberSearch" name="AccountNumber" type="number" aria-describedby="basic-addon1">
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ContactDateSearch" class="form-label" style="font-size:25px;"><b>Contacted On</b></label>
            <input class="form-control text-center" id="ContactDateSearch" name="ContactDate" type="date" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ContactTypeSearch" class="form-label" style="font-size:25px;"><b>Contact Type</b></label>
            <input class="form-control text-center" list="ContactTypeOptions" id="ContactTypeSearch" name="ContactType" type="text" aria-describedby="basic-addon1">
            <datalist id="ContactTypeOptions">
                    <option value="Phone Call">
                    <option value="Walk In">
            </datalist>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ReturnOperatorSearch" class="form-label" style="font-size:25px;"><b>Return Call Operator</b></label>
            <input class="form-control text-center" id="ReturnOperatorSearch" name="ReturnOperator" type="text" aria-describedby="basic-addon1">
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="OwnerSearch" class="form-label" style="font-size:25px;"><b>Owner Name</b></label>
            <input class="form-control text-center" id="OwnerSearch" name="OwnerName" type="text" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3 mx-auto" role="group">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck1">Got It Operator</label>

            <input type="checkbox" class="btn-check" id="MyTicketSearch" value="{{ current_user }}" autocomplete="off">
            <label class="btn btn-outline-primary" for="MyTicketSearch">My Tickets</label>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3 mx-auto" role="group">
            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck3">My Department</label>

            <input type="checkbox" class="btn-check" id="TicketStatusSearch" name="Status" value="Open" checked>
            <label class="btn btn-outline-primary" for="TicketStatusSearch">Open Tickets</label>
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-5 col-4 mx-auto mt-4">
            <input class="btn btn-primary btn-lg fw-bold" type="submit" style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 50px;">
            </input>
          </div>

        </div>
      </form>

      <div class="col-12 mx-auto mt-5 table_outer">
        <table class="table table-default table-striped table-hover" id="ticket_table">
          <thead>
          <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Contact Date</th>
            <th scope="col">AIN</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Return Operator</th>
            <th scope="col">Caller/Visitor</th>
            <th scope="col">Status</th>
          </tr>
          </thead>

          <tbody>
          {% for ticket in ticket_data %}
              <tr>
                  <td><a href="/search/{{ticket['TicketNumber']}}">{{ticket['TicketNumber']}}</a></td>
                  <td>{{ticket['ContactDate']}}</td>
                  <td>{{ticket['AccountNumber']}}</td>
                  <td>{{ticket['OwnerName']}}</td>
                  <td>{{ticket['ReturnOperator']}}</td>
                  <td>{{ticket['CallerOrVisitor']}}</td>
                  <td>{{ticket['Status']}}</td>
              </tr>
          {% endfor %}
          </tbody>

        </table>
      </div>

    </div>

    {% include 'footer.html' %}

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    <script>
      $(document).ready(function () {
        $('#ticket_table').DataTable();
      });
    </script>

  </body>
</html>