<!DOCTYPE html>
<html>
  <head>

    <title> Ticket Search </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg-info-subtle">
    {% include 'nav.html' %}

    <div class = "container">

      <h1 class = "p-3 bg-body-secondary border border-info border-start-10 rounded-start rounded-end text-center mt-5 fw-bold mx-auto"> View Tickets </h1>

      <form autocomplete="off">

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketStatusSearch" class="form-label" style="font-size:25px;"><b>Ticket Status</b></label>
            <select class="form-select text-center" id="TicketStatusSearch" name ="Status">
              {% for status in status_options %}
                    {% if status == 'Open' %}
                        <option selected>{{status}}</option>
                    {% else %}
                        <option>{{status}}</option>
                    {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketTypeSearch" class="form-label" style="font-size:25px;"><b>Ticket Type</b></label>
            <select class="form-select text-center" id="TicketTypeSearch" name="TicketType" aria-describedby="basic-addon1">
              {% for type, year in ticketTypes %}
                <option>{{type}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketYearSearch" class="form-label" style="font-size:25px;"><b>Ticket Year</b></label>
            <select class="form-select text-center" id="TicketYearSearch" name="TicketYear" aria-describedby="basic-addon1">
              {% for type, year in ticketTypes %}
                <option>{{year}}</option>
              {% endfor %}
            </select>
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketNumberSearch" class="form-label" style="font-size:25px;"><b>Ticket Number</b></label>
            <input class="form-control text-center" id="TicketNumberSearch" name ="TicketNumber" type="number">
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="AccountNumberSearch" class="form-label" style="font-size:25px;"><b>Account Number</b></label>
            <input class="form-control text-center" id="AccountNumberSearch" name="AccountNumber" type="number" aria-describedby="basic-addon1">
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ContactDateSearch" class="form-label" style="font-size:25px;"><b>Contacted On</b></label>
            <input class="form-control text-center" id="ContactDateSearch" name="ContactDate" type="date" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ContactTypeSearch" class="form-label" style="font-size:25px;"><b>Contact Type</b></label>
            <select class="form-select text-center" id="ContactTypeSearch" name="ContactType" aria-describedby="basic-addon1">
              {% for type in contact_types %}
                <option>{{type}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ReturnOperatorSearch" class="form-label" style="font-size:25px;"><b>Return Call Operator</b></label>
            <select class="form-select text-center" id="ReturnOperatorSearch" name="ReturnOperator" aria-describedby="basic-addon1">
              {% for user in return_operators %}
                <option>{{user}}</option>
              {% endfor %}
              </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="OwnerSearch" class="form-label" style="font-size:25px;"><b>Owner Name</b></label>
            <input class="form-control text-center" id="OwnerSearch" name="OwnerName" type="text" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3 mx-auto">
            <label for="GotItOperatorSearch" class="form-label" style="font-size:25px;"><b>Got It Operator</b></label>
            <select class="form-select text-center" id="GotItOperatorSearch" name="GotItUser" aria-describedby="basic-addon1">
              {% for user in gotit_operators %}
                <option>{{user}}</option>
              {% endfor %}
              </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3 mx-auto" role="group">
            <input type="checkbox" class="btn-check" id="GotItSearch" name="GotItUserFlag" value="0" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="GotItSearch">No Got It Operator</label>

            <input type="checkbox" class="btn-check" id="MyTicketSearch" name="CreateUser" value="{{ current_user }}" autocomplete="off">
            <label class="btn btn-outline-primary" for="MyTicketSearch">My Tickets</label>
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-5 col-4 mx-auto mt-4">
            <input class="btn btn-primary btn-lg fw-bold" type="submit" style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 50px;">
            </input>
          </div>

        </div>
      </form>

      <div class="col-12 mx-auto mt-5 table_outer">
        <table class="table table-default table-striped table-hover" id="ticket_table">
          <thead>
          <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Contact Date</th>
            <th scope="col">Contact Type</th>
            <th scope="col">AIN</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Return Call Operator</th>
            <th scope="col">Got It Operator</th>
            <th scope="col">Status</th>
          </tr>
          </thead>

          <tbody>
          {% for ticket in ticket_data %}
            {% if ticket['ContactDate'] < current_date and ticket['Status'] == 'Open' %}
                <tr style="font-weight: 500;">
                  <td><a href="/search/{{ticket['TicketNumber']}}">{{ticket['TicketNumber']}}</a></td>
                  <td style="color: blue;">{{ticket['ContactDate']}}</td>
                  <td style="color: blue;">{{ticket['ContactType']}}</td>
                  <td style="color: blue;">{{ticket['AccountNumber']}}</td>
                  <td style="color: blue;">{{ticket['OwnerName']}}</td>
                  <td style="color: blue;">{{ticket['ReturnOperator']}}</td>
                  <td style="color: blue;">{{ticket['GotItUser']}}</td>
                  <td style="color: blue;">{{ticket['Status']}}</td>
                </tr>
            {% else %}
                <tr>
                  <td><a href="/search/{{ticket['TicketNumber']}}">{{ticket['TicketNumber']}}</a></td>
                  <td>{{ticket['ContactDate']}}</td>
                  <td>{{ticket['ContactType']}}</td>
                  <td>{{ticket['AccountNumber']}}</td>
                  <td>{{ticket['OwnerName']}}</td>
                  <td>{{ticket['ReturnOperator']}}</td>
                  <td>{{ticket['GotItUser']}}</td>
                  <td>{{ticket['Status']}}</td>
                </tr>
            {% endif %}
          {% endfor %}
          </tbody>

        </table>
      </div>

    </div>

    {% include 'footer.html' %}

    <script>
      $(document).ready(function () {
        $('#ticket_table').DataTable();
      });
    </script>

  </body>
</html>