<!DOCTYPE html>
<html>
  <head>

    <title> Ticket Search </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    <div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> View Tickets </h1>

      <form autocomplete="off">

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketStatusSearch" class="form-label account_search_labels">Ticket Status</label>
            <select class="form-select text-center" id="TicketStatusSearch" name ="Status">
              {% for status in status_options %}
                    {% if status == 'Open' %}
                        <option selected>{{status}}</option>
                    {% else %}
                        <option>{{status}}</option>
                    {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketTypeSearch" class="form-label account_search_labels">Ticket Type</label>
            <select class="form-select text-center" id="TicketTypeSearch" name="TicketType" aria-describedby="basic-addon1">
              {% for type in ticketTypes %}
                <option>{{type}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketYearSearch" class="form-label account_search_labels">Ticket Year</label>
            <select class="form-select text-center" id="TicketYearSearch" name="TicketYear" aria-describedby="basic-addon1">
              {% for year in ticketYears %}
                <option>{{year}}</option>
              {% endfor %}
            </select>
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="TicketNumberSearch" class="form-label account_search_labels">Ticket Number</label>
            <input class="form-control text-center" id="TicketNumberSearch" name ="TicketNumber" type="number">
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="AccountNumberSearch" class="form-label account_search_labels">Account Number</label>
            <input class="form-control text-center" id="AccountNumberSearch" name="AccountNumber" type="number" aria-describedby="basic-addon1">
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ContactDateSearch" class="form-label account_search_labels">Contacted On</label>
            <input class="form-control text-center" id="ContactDateSearch" name="ContactDate" type="date" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ContactTypeSearch" class="form-label account_search_labels">Contact Type</label>
            <select class="form-select text-center" id="ContactTypeSearch" name="ContactType" aria-describedby="basic-addon1">
              {% for type in contact_types %}
                <option>{{type}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="ReturnOperatorSearch" class="form-label account_search_labels">Return Call Operator</label>
            <select class="form-select text-center" id="ReturnOperatorSearch" name="ReturnOperator" aria-describedby="basic-addon1">
              {% for user in return_operators %}
                <option>{{user}}</option>
              {% endfor %}
              </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3">
            <label for="OwnerSearch" class="form-label account_search_labels">Owner Name</label>
            <input class="form-control text-center" id="OwnerSearch" name="OwnerName" type="text" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-1 col-4 mt-4 mb-3 mx-auto">
            <label for="GotItOperatorSearch" class="form-label account_search_labels">Got It Operator</label>
            <select class="form-select text-center" id="GotItOperatorSearch" name="GotItUser" aria-describedby="basic-addon1">
              {% for user in gotit_operators %}
                <option>{{user}}</option>
              {% endfor %}
              </select>
          </div>

          <div class="d-grid gap-1 col-4 mt-4 mb-3 mx-auto" role="group">
            <input type="checkbox" class="btn-check" id="GotItSearch" name="GotItUserFlag" value="0" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="GotItSearch">No Got It Operator</label>

            <input type="checkbox" class="btn-check" id="MyTicketSearch" name="CreateUser" value="{{ current_user }}" autocomplete="off">
            <label class="btn btn-outline-primary" for="MyTicketSearch">My Tickets</label>
          </div>

        </div>

        <div class="row text-center">

          <div class="d-grid gap-5 col-4 mx-auto mt-5">
            <input class="btn btn-primary" type="submit">
            </input>
          </div>

        </div>
      </form>

      <div class="col-12 mx-auto mt-5 table_outer">
        <table class="table table-default table-striped table-hover display" id="ticket_table">
          <thead>
          <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Contact Date</th>
            <th scope="col">Contact Type</th>
            <th scope="col">AIN</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Return Call Operator</th>
            <th scope="col">Got It Operator</th>
            <th scope="col">Status</th>
          </tr>
          </thead>

          <tbody>
          {% for ticket in ticket_data %}
            {% if ticket['ContactDate'] < current_date and ticket['Status'] == 'Open' %}
                <tr style="font-weight: 500;">
                  <td><a href="/search/{{ticket['TicketNumber']}}">{{ticket['TicketNumber']}}</a></td>
                  <td style="color: blue;">{{ticket['ContactDate']}}</td>
                  <td style="color: blue;">{{ticket['ContactType']}}</td>
                  <td style="color: blue;">{{ticket['AccountNumber']}}</td>
                  <td style="color: blue;">{{ticket['OwnerName']}}</td>
                  <td style="color: blue;">{{ticket['ReturnOperator']}}</td>
                  <td style="color: blue;">{{ticket['GotItUser']}}</td>
                  <td style="color: blue;">{{ticket['Status']}}</td>
                </tr>
            {% else %}
                <tr>
                  <td><a href="/search/{{ticket['TicketNumber']}}">{{ticket['TicketNumber']}}</a></td>
                  <td>{{ticket['ContactDate']}}</td>
                  <td>{{ticket['ContactType']}}</td>
                  <td>{{ticket['AccountNumber']}}</td>
                  <td>{{ticket['OwnerName']}}</td>
                  <td>{{ticket['ReturnOperator']}}</td>
                  <td>{{ticket['GotItUser']}}</td>
                  <td>{{ticket['Status']}}</td>
                </tr>
            {% endif %}
          {% endfor %}
          </tbody>

        </table>
      </div>

    </div>

    <a class="btn btn-primary" type="button" id="test_box">
                Ticket</a>

    {% include 'footer.html' %}

    <script>
      table = new DataTable('#ticket_table', {
        paging: true
      });
    </script>

    <script type=text/javascript>
          $(function() {
            $('a#test_box').on('click', function(e) {
              e.preventDefault()
                var ticketStatus = document.getElementById("TicketStatusSearch").value;
                var ticketType = document.getElementById("TicketTypeSearch").value;

                searchCriteria = { Status : ticketStatus,
                          TicketType : ticketType
                  }

               $.ajax({
                  url: "/searchtestjson",
                  type: "GET",
                 dataType:"json",
                  data: searchCriteria,
                 success: function(data){
                    //console.log(data); // this is your response obj that you can work with

                   table.clear();
                   table.destroy();

                    table = new DataTable('#ticket_table', {
                      columns: [
                              {data: 'TicketNumber'},
                              {data: 'ContactDate'},
                              {data: 'ContactType'},
                              {data: 'AccountNumber'},
                              {data: 'OwnerName'},
                              {data: 'ReturnOperator'},
                              {data: 'GotItUser'},
                              {data: 'Status'},
                      ],
                      columnDefs: [
                        {
                          targets: 0,
                          data: 'TicketNumber',
                          render: function (data, type, row, meta) {
                              data = '<a href="/search/' + data + '">' + data + '</a>';
                              return data;
                          },
                          width: '10%'
                        }
                      ]
                    })

                    table.rows.add(data);
                    table.draw();

                }
                });

              });
              return false;
            });
    </script>

  </body>
</html>