<!DOCTYPE html>
<html>
  <head>

    <title> Ticket Search </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    <div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> View Tickets </h1>

        <div class="row text-center mt-5">

          <div class="d-grid col-4">
            <label for="TicketStatusSearch" class="form-label account_search_labels">Ticket Status</label>
            <select class="form-select text-center" id="TicketStatusSearch" name ="Status">
              {% for status in status_options %}
                <option>{{status}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="d-grid col-4">
            <label for="TicketTypeSearch" class="form-label account_search_labels">Ticket Type</label>
            <select class="form-select text-center" id="TicketTypeSearch" name="TicketType" aria-describedby="basic-addon1">
              {% for type in ticketTypes %}
                <option>{{type}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="d-grid col-4">
            <label for="TicketYearSearch" class="form-label account_search_labels">Ticket Year</label>
            <select class="form-select text-center" id="TicketYearSearch" name="TicketYear" aria-describedby="basic-addon1">
              {% for year in ticketYears %}
                <option>{{year}}</option>
              {% endfor %}
            </select>
          </div>

        </div>

        <div class="row text-center mt-5">

          <div class="d-grid col-4">
            <label for="TicketNumberSearch" class="form-label account_search_labels">Ticket Number</label>
            <input class="form-control text-center" id="TicketNumberSearch" name ="TicketNumber" type="number">
          </div>

          <div class="d-grid col-4">
            <label for="AccountNumberSearch" class="form-label account_search_labels">Account Number</label>
            <input class="form-control text-center" id="AccountNumberSearch" name="AccountNumber" type="number" aria-describedby="basic-addon1">
          </div>

          <div class="d-grid col-4">
            <label for="ContactDateSearch" class="form-label account_search_labels">Contacted On</label>
            <input class="form-control text-center" id="ContactDateSearch" name="ContactDate" type="date" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center justify-content-around mt-5">

          <div class="col-4">
            <label for="ContactTypeSearch" class="form-label account_search_labels">Contact Type</label>
            <select class="form-select text-center" id="ContactTypeSearch" name="ContactType" aria-describedby="basic-addon1">
              {% for type in contact_types %}
                <option>{{type}}</option>
              {% endfor %}
            </select>
          </div>
          <!--
          <div class="d-grid col-4">
            <label for="ReturnOperatorSearch" class="form-label account_search_labels">Return Call Operator</label>
            <select class="form-select text-center" id="ReturnOperatorSearch" name="ReturnOperator" aria-describedby="basic-addon1">
              {% for user in return_operators %}
                <option>{{user}}</option>
              {% endfor %}
              </select>
          </div>
          -->
          <div class="col-4">
            <label for="OwnerSearch" class="form-label account_search_labels">Owner Name</label>
            <input class="form-control text-center" id="OwnerSearch" name="OwnerName" type="text" aria-describedby="basic-addon1">
          </div>

        </div>

        <div class="row text-center mt-5">

          <div class="d-grid col-4">
            <label for="GotItOperatorSearch" class="form-label account_search_labels">Got It Operator</label>
            <select class="form-select text-center" id="GotItOperatorSearch" name="GotItUser" aria-describedby="basic-addon1">
              {% for user in gotit_operators %}
                <option>{{user}}</option>
              {% endfor %}
              </select>
          </div>

          <div class="d-grid col-4">
            <label for="CreatedBySearch" class="form-label account_search_labels">Created By</label>
            <select class="form-select text-center" id="CreatedBySearch" name="OriginalCreator" aria-describedby="basic-addon1">
              {% for user in create_users %}
                <option>{{user}}</option>
              {% endfor %}
              </select>
          </div>

          <div class="d-grid col-4">
            <label for="DepartmentSearch" class="form-label account_search_labels">Department</label>
            <select class="form-select text-center" id="DepartmentSearch" name="Department" aria-describedby="basic-addon1">
              {% for dept in employee_depts %}
                <option>{{dept}}</option>
              {% endfor %}
              </select>
          </div>

        </div>

        <div class="row text-center justify-content-around mt-5">

          <div class="d-grid col-4">
                <a class="btn btn-primary" type="button" id="search_button">
                Search</a>
          </div>

          <div class="d-grid col-4">
                <a class="btn btn-primary" type="button" id="clear_button">
                Clear</a>
          </div>

        </div>


      <div class="col-12 mt-5 table_outer">
        <table class="table table-default table-striped table-hover display" id="ticket_table">
          <thead>
          <tr>
            <th scope="col">Ticket Number</th>
            <th scope="col">Contact Date</th>
            <th scope="col">Contact Type</th>
            <th scope="col">AIN</th>
            <th scope="col">Owner Name</th>
            <th scope="col">Return Call Operator</th>
            <th scope="col">Got It Operator</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
        </table>
      </div>

    </div>


    {% include 'footer.html' %}


    <script>
      table = new DataTable('#ticket_table', {
        paging: true
      });
    </script>

    <script type=text/javascript>
          $(function() {
            $('a#search_button').on('click', function(e) {
              e.preventDefault()
                var ticketStatus = document.getElementById("TicketStatusSearch").value;
                var ticketType = document.getElementById("TicketTypeSearch").value;
                var ticketYear = document.getElementById("TicketYearSearch").value;
                var ticketNumber = document.getElementById("TicketNumberSearch").value;
                var ticketAccount = document.getElementById("AccountNumberSearch").value;
                var ticketDate = document.getElementById("ContactDateSearch").value;
                var ticketContact = document.getElementById("ContactTypeSearch").value;
                //var ticketReturnOperator = document.getElementById("ReturnOperatorSearch").value;
                var ticketOwner = document.getElementById("OwnerSearch").value;
                var ticketGotItOperator = document.getElementById("GotItOperatorSearch").value;
                var ticketCreator = document.getElementById("CreatedBySearch").value;
                var ticketDept = document.getElementById("DepartmentSearch").value;

                var searchCriteria = { Status : ticketStatus,
                          TicketType : ticketType,
                          TicketYear : ticketYear,
                          TicketNumber : ticketNumber,
                          AccountNumber : ticketAccount,
                          ContactDate : ticketDate,
                          ContactType : ticketContact,
                          //ReturnOperator : ticketReturnOperator,
                          OwnerName : ticketOwner,
                          GotItUser : ticketGotItOperator,
                          OriginalCreator : ticketCreator,
                          Department : ticketDept
                  }

               $.ajax({
                  url: "/searchtestjson",
                  type: "GET",
                 dataType:"json",
                  data: searchCriteria,
                 success: function(data){
                    //console.log(searchCriteria); // this is your response obj that you can work with

                   table.clear();
                   table.destroy();

                    table = new DataTable('#ticket_table', {
                      columns: [
                              {data: 'TicketNumber'},
                              {data: 'ContactDate'},
                              {data: 'ContactType'},
                              {data: 'AccountNumber'},
                              {data: 'OwnerName'},
                              {data: 'ReturnOperator'},
                              {data: 'GotItUser'},
                              {data: 'Status'},
                      ],
                      columnDefs: [
                        {
                          targets: 0,
                          data: 'TicketNumber',
                          render: function (data, type, row, meta) {
                              data = '<a href="/search/' + data + '">' + data + '</a>';
                              return data;
                          },
                          width: '10%'
                        }
                      ]
                    })

                    table.rows.add(data);
                    table.draw();

                }
                });

              });
              return false;
            });
    </script>

      <script>
        $(document).on('click', '#clear_button', function() {
          document.getElementById("DepartmentSearch").value = "";
          document.getElementById("TicketNumberSearch").value = "";
          document.getElementById("AccountNumberSearch").value = "";
          document.getElementById("ContactDateSearch").value = "";
          document.getElementById("ContactTypeSearch").value = "";
          //document.getElementById("ReturnOperatorSearch").value = "";
          document.getElementById("OwnerSearch").value = "";
          document.getElementById("GotItOperatorSearch").value = "";
          document.getElementById("CreatedBySearch").value = "";
          document.getElementById("DepartmentSearch").value = "";
        });
    </script>

  </body>
</html>