
<script type=text/javascript>
        $(function() {
          $('a#GotIt').on('click', function(e) {
            e.preventDefault()
              var ticketNum = document.getElementById("GotIt").getAttribute("data-val");
              var action = document.getElementById("GotIt").getAttribute("data-action");
              var str = "/got_it_update".concat("/", ticketNum).concat("/", action).concat("/", null);
              var gotit = "";

            $.getJSON(str,
                function(data) {
                for (let i = 0; i < data.length; i++) {
                    if (data[i]['ForwardToUser'] === null) {
                        data[i]['ForwardToUser'] = "";
                    }
                    gotit += (data[i]['GotItUser'] + ' ' + data[i]['ActionType'] + ' > ' + data[i]['ForwardToUser'] + ' ' + data[i]['CreateDate']) + '\r\n';
                }
                document.getElementById("GotItTracking").innerHTML= gotit; // JSON.stringify(data);

            });
            return false;
          });
        });

        $(function() {
          $('select#ForwardTo').change(function(e) {
            e.preventDefault()
              var ticketNum = document.getElementById("ForwardTo").getAttribute("data-val");
              var action = document.getElementById("ForwardTo").getAttribute("data-action");
              var forwardTo = document.getElementById("ForwardTo");
              var forwardSelection = forwardTo.options[forwardTo.selectedIndex].text;
              // console.log(forwardSelection)

              var str = "/got_it_update".concat("/", ticketNum).concat("/", action).concat("/", forwardSelection);
              var gotit = "";

            $.getJSON(str,
                function(data) {
                for (let i = 0; i < data.length; i++) {
                    gotit += (data[i]['GotItUser'] + ' ' + data[i]['ActionType'] + ' > ' + data[i]['ForwardToUser'] + ' ' + data[i]['CreateDate']) + '\r\n';
                }
                document.getElementById("GotItTracking").innerHTML= gotit; // JSON.stringify(data);

            });
            return false;
          });
        });
</script>

<div class="container border-top border-black">
    <div class="row mb-3 mt-3 text-center">
        <div class="col p-2">

            <a id="AddNotes" type="button" class="btn btn-secondary mt-2" data-val="" data-action="GOT IT"> Add Correspondence Notes </a>

            <div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="notesModalLabel" aria-hidden="false">
                  <div class="modal-dialog">

                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="notesModalLabel">Correspondence Notes</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                          <form id="notesForm" action="/got_it_update/notes_submitted/{{ticket_data[0]['TicketNumber']}}" method="post" autocomplete="off">
                             <div class="row text-center">
                               <div class="col-md-12">
                                   <label for="CorrespondenceNotes" class="form-label account_search_labels">Add Notes:</label>
                                   <textarea class="form-control" id="CorrespondenceNotes" name="CorrespondenceNotes" aria-label="CorrespondenceNotes" rows="10" aria-describedby="basic-addon1" style="white-space: pre-line; height:400px; text-align: left;"></textarea>
                              </div>
                                 <div class="modal-footer">
                                      <button type="submit" id="modalSubmit" class="btn btn-primary">Submit</button>
                                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                 </div>
                             </div>

                          </form>

                      </div>
                    </div>

                  </div>
            </div>

                <script>
                    const notesModal = new bootstrap.Modal('#notesModal');

                    $('a#AddNotes').on('click', () => {
                        notesModal.show();
                    });

                </script>

            <a id="GotIt" type="button" class="btn btn-secondary mt-2" data-val="{{ticket_data[0]['TicketNumber']}}" data-action="GOT IT">Got it! </a>

        </div>

        <div class="col p-2">

            <label for="ForwardTo" class="form-label account_search_labels">Forward To:</label>
              <select id="ForwardTo" class="form-select" data-val="{{ticket_data[0]['TicketNumber']}}" data-action="FORWARD TO">
                  {% for user in forward_users %}
                  <option>{{user}}</option>
                  {% endfor %}
              </select>
        </div>
    </div>
    <div class="row mb-3 mt-3 text-center">

        <div class="col-6">
            <label for="CorrespondenceNotesHistory" class="form-label account_search_labels">View Notes History:</label>
            <textarea class="form-control bg-secondary-subtle" id="CorrespondenceNotesHistory" name="CorrespondenceNotesHistory" readonly="readonly" aria-label="CorrespondenceNotesHistory" rows="12" aria-describedby="basic-addon1" style="white-space: pre-line; text-align: left;">{% for note in correspondence_notes %}{{ "%s %s > %s" % (note['CreateDate'], note['CreateUser'], note['Notes']) }}
                {% endfor %}</textarea>
        </div>

        <div class="col-6">
            <label for="GotItTracking" class="form-label account_search_labels">Got It Tracking:</label>
            <textarea class="form-control" readonly id="GotItTracking" name="GotItTracking" aria-label="GotItTracking" rows="12" aria-describedby="basic-addon1" style="white-space: pre-line;">{% for row in tracking_data %}
                {% if row['ForwardToUser'] == None %}{{ "%s %s > %s" % (row['GotItUser'], row['ActionType'], row['CreateDate']) }}{% else %}{{ "%s %s > %s %s" % (row['GotItUser'], row['ActionType'], row['ForwardToUser'], row['CreateDate']) }}{% endif %}{% endfor %}</textarea>
        </div>
    </div>
</div>

