<!DOCTYPE html>
<html>
  <head>

    <title> Create Ticket </title>
    {% include 'bootstrap.html' %}

  </head>
  <body class = "bg-info-subtle" onunload="clearForms()">
    {% include 'nav.html' %}

        {% if existingTicket %}

        <!-- Modal -->
        <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="warningModalLabel">Warning!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                There is already an existing ticket for this account. Use the blue button below to view that ticket or close this warning to proceed.
              </div>
              <div class="modal-footer">
                  <a type="button" class="btn btn-primary" href="/search/{{existingTicket[0]['TicketNumber']}}">View Ticket</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script>
            const warningModal = new bootstrap.Modal('#warningModal');

            window.addEventListener('DOMContentLoaded', () => {
                warningModal.show();
            });
        </script>

    {% endif %}

    <div class = "container">

      <h1 class = "p-3 bg-body-secondary border border-info border-start-10 rounded-start rounded-end text-center mt-5 fw-bold mx-auto"> Create Ticket </h1>

        <p class="col text-center"><b>*</b> = Required Field</p>

     <form action="/ticket/submitted" method="post" autocomplete="off">

        <div class="row text-center border-bottom" style="margin-top:42px; margin-bottom:42px;">

            <div class="col-md-2">
              <label for="TicketStatus" class="form-label mb-3" style="font-size:20px; font-weight:500;">*Status</label>
              <select class="form-select text-center mb-4" id="TicketStatus" name="Status" aria-label="Status" aria-describedby="basic-addon1" required>
                  {% for status in status_options %}
                    {% if status == 'Open' %}
                        <option selected>{{status}}</option>
                    {% else %}
                        <option>{{status}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
          </div>

          <div class="col-md-2">
              <label for="AccountNumber" class="form-label mb-3" style="font-size:20px; font-weight:500;">Account Number</label>
              <input type="number" class="form-control text-center mb-4" id="AccountNumber" value="{{account['AccountNumber']}}" placeholder="" name="Account" aria-label="Account" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-4">
              <label for="OwnerName" class="form-label mb-3" style="font-size:20px; font-weight:500;">Owner Name</label>
              <input type="text" class="form-control text-center mb-4" id="OwnerName" value="{{account['OwnerName']}}" placeholder="" name="Owner" aria-label="Owner" aria-describedby="basic-addon1">
          </div>

          <div class="col-md-4">
              <label for="SitusAddress" class="form-label mb-3" style="font-size:20px; font-weight:500;">Situs Address</label>
              <input type="text" class="form-control text-center mb-4" id="SitusAddress" value="{{account['SitusAddress']}}" placeholder="" name="Address" aria-label="Address" aria-describedby="basic-addon1">
          </div>

        </div>


       <div class="row text-center" style="margin-top:0px; margin-bottom:42px;">

           <div class="col-md-4">
                <label for="ContactType" class="form-label mb-3" style="font-size:20px; font-weight:500;">*Type of Contact:</label>
                <select class="form-select text-center" id="ContactType" name="ContactType" aria-label="Type" aria-describedby="basic-addon1" required>
                    {% for type in contact_types %}
                        <option>{{type}}</option>
                    {% endfor %}
                </select>
          </div>

           <div class="col-md-2">
               <label for="ContactDate" class="form-label mb-3" style="font-size:20px; font-weight:500;">*Contact Date:</label>
               <input type="date" class="form-control text-center" id ="ContactDate" name="ContactDate" aria-label="Date" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-2">
               <label for="ContactTime" class="form-label mb-3" style="font-size:20px; font-weight:500;">*Contact Time:</label>
               <input type="time" class="form-control text-center" id="ContactTime" name="ContactTime" aria-label="Time" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-4">
               <label for="ReturnOperator" class="form-label mb-3" style="font-size:20px; font-weight:500;">*Return Call Operator:</label>
               <select class="form-select text-center" id="ReturnOperator" name="ReturnOperator" aria-label="ReturnOperator" aria-describedby="basic-addon1" required>
                   {% for user in return_operators %}
                        <option>{{user}}</option>
                    {% endfor %}
               </select>
            </div>

       </div>


         <div class="row text-center" style="margin-top:0px; margin-bottom:42px;">

           <div class="col-md-4">
               <label for="CallerVisitor" class="form-label mb-3" style="font-size:20px; font-weight:500;">*Caller/Visitor:</label>
               <button id="SameAsOwnerButton" class="btn" type="button" style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 20px;">Same As Owner</button>
               <input type="text" class="form-control text-center" id="CallerVisitor" name="CallerVisitor" aria-label="CallerVisitor" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-4">
               <label for="PhoneNumber" class="form-label mb-3" style="font-size:20px; font-weight:500;">*Phone Number:</label>
               <input type="tel" class="form-control text-center" id="PhoneNumber" name="Telephone" aria-label="Telephone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-4">
               <label for="EmailAddress" class="form-label mb-3" style="font-size:20px; font-weight:500;">Email Address:</label>
               <input type="email" class="form-control text-center" id="EmailAddress" name="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>
       </div>


         <div class="row text-center" style="margin-top:42px; margin-bottom:42px;">

           <div class="col-md-12">
               <label for="ReasonForCall" class="form-label mb-3" style="font-size:20px; font-weight:500;">Reason For Call:</label>
               <textarea class="form-control" id="ReasonForCall" name="CallReason" aria-label="CallReason" rows="3" aria-describedby="basic-addon1" style="white-space: pre-line; text-align: left;"></textarea>

          </div>
         </div>


         <div class="d-grid gap-5 col-4 mx-auto mt-4">
                <button class="btn btn-primary btn-lg fw-bold" type="submit" style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 50px;">
                Save Ticket</button>
         </div>

     </form>

    </div>

    {% include 'footer.html' %}

    <script>
        /* https://stackoverflow.com/questions/36113900/how-to-clear-form-data-after-submit-but-after-data-passed */
        function clearForms()
        {
          var i;
          for (i = 0; (i < document.forms.length); i++) {
            document.forms[i].reset();
          }
        }
    </script>

    <script>
        /* https://stackoverflow.com/questions/47575682/copy-value-from-one-text-field-to-another-when-button-clicked */
        $(document).on('click', '#SameAsOwnerButton', function() {
          $('#CallerVisitor').val($('#OwnerName').val());
        });
    </script>

  </body>
</html>