
<script type=text/javascript>
        $(function() {
          $('a#GotIt').on('click', function(e) {
            e.preventDefault()
              var i = document.getElementById("GotIt").getAttribute("data-val");
              var str = "/got_it_update".concat("/", i)
              var gotit = ""

            $.getJSON(str,
                function(data) {
                for (let i = 0; i < data.length; i++) {
                    gotit += (data[i]['GotItUser'] + ' GOT IT - ' + data[i]['CreateDate']) + '\r\n';
                }
                document.getElementById("GotItTracking").innerHTML= gotit; // JSON.stringify(data);

            });
            return false;
          });
        });
</script>

<div class="container border-top">
    <div class="row mb-3 mt-3 text-center">
        <div class="col">

             <a id="GotIt" type="button" class="btn btn-secondary btn-lg fw-bold mt-2" data-val="{{ticket_data[0]['TicketNumber']}}" href=# style="--bs-btn-bg: #eee; --bs-btn-color: #000; --bs-btn-border-color: #000; --bs-btn-hover-color: #000; --bs-btn-hover-bg: #7BCCEE; --bs-btn-line-height: 30px;">Got it! </a>

            <div class="mb-3 mt-3">
              <label for="ForwardTo" class="form-label" style="font-size:20px; font-weight:500;">Forward To:</label>
              <select id="ForwardTo" class="form-select">
                  <option></option>
                  <option>option1</option>
                  <option>option2</option>
                  <option>option3</option>
              </select>
            </div>

        </div>
        <div class="col mb-2">

            <label for="GotItTracking" class="form-label mb-3" style="font-size:20px; font-weight:500;">Got It Tracking:</label>
            <textarea class="form-control text-center" readonly id="GotItTracking" name="GotItTracking" aria-label="GotItTracking" rows="5" aria-describedby="basic-addon1" style="white-space: pre-line;">{% for row in tracking_data %}
                {{ row['GotItUser'] + ' GOT IT - ' + row['CreateDate'] }}{% endfor %}</textarea>

        </div>


    </div>


</div>
