<!DOCTYPE html>
<html lang="en">
  <head>

      <title> Update Ticket </title>
      {% include 'bootstrap.html' %}


  </head>
  <body class = "bg">
    {% include 'nav.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="rounded-3 shadow-lg">
            <div class="alert alert-danger alter-dismissible fade show text-center" role="alert">
                <h4>{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </h4>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> View/Update Ticket </h1>

        <p class="col text-center"><b>*</b> = Required Field</p>

     <form action="/ticket/update_submitted" method="post" autocomplete="off" id="formUpdateTicket">

            <div class="row text-center mb-5">

                 <input type="hidden" readonly id="id" value="{{ticket_data[0]['id']}}" name="id">
                 <input type="hidden" readonly id="TicketYear" value="{{ticket_data[0]['TicketYear']}}" name="TicketYear">

                  <div class="col-md-3">
                      <label for="TicketNumber" class="form-label account_search_labels">Ticket Number</label>
                      <input type="number" readonly class="form-control text-center bg-secondary-subtle" id="TicketNumber" value="{{ticket_data[0]['TicketNumber']}}" name="TicketNumber" aria-label="TicketNumber" aria-describedby="basic-addon1">
                  </div>

                  <div class="col-md-3">
                      <label for="TicketType" class="form-label account_search_labels">Ticket Type</label>
                      <input type="text" readonly class="form-control text-center bg-secondary-subtle" id="TicketType" value="{{ticket_data[0]['TicketType']}}" name="TicketType" aria-label="TicketType" aria-describedby="basic-addon1">
                  </div>

                  <div class="col-md-3">
                      <label for="CreateUser" class="form-label account_search_labels">Last Updated By</label>
                      <input type="text" readonly class="form-control text-center bg-secondary-subtle" id="CreateUser" value="{{ticket_data[0]['CreateUser']}}" name="CreateUser" aria-label="CreatedBy" aria-describedby="basic-addon1">
                  </div>

                  <div class="col-md-3">
                      <label for="TimeCreated" class="form-label account_search_labels">Last Updated Time</label>
                      <input type="text" readonly class="form-control text-center bg-secondary-subtle" id="TimeCreated" value="{{ticket_data[0]['CreateDateTime']}}" name="TimeCreated" aria-label="TimeCreated" aria-describedby="basic-addon1">
                  </div>

            </div>

         <div class="row border-bottom border-black mb-5"></div>

        <div class="row text-center mb-5">

              <div class="col-md-3">
                  <label for="AccountNumber" class="form-label account_search_labels">Account Number</label>
                  <input type="number" class="form-control text-center" id="AccountNumber" value="{{ticket_data[0]['AccountNumber']}}" name="Account" aria-label="Account" aria-describedby="basic-addon1">
              </div>

              <div class="col-md-5">
                  <label for="OwnerName" class="form-label account_search_labels">Owner Name</label>
                  <input type="text" class="form-control text-center" id="OwnerName" value="{{ticket_data[0]['OwnerName']}}" name="Owner" aria-label="Owner" aria-describedby="basic-addon1">
              </div>

              <div class="col-md-4">
                  <label for="SitusAddress" class="form-label account_search_labels">Situs Address</label>
                  <input type="text" class="form-control text-center" id="SitusAddress" value="{{ticket_data[0]['SitusAddress']}}" name="Address" aria-label="Address" aria-describedby="basic-addon1">
              </div>

        </div>


       <div class="row text-center mb-5">

           <div class="col-md-4">
                <label for="ContactType" class="form-label account_search_labels">*Type of Contact:</label>
                <select class="form-select text-center" id="ContactType" name="ContactType" aria-label="Type" aria-describedby="basic-addon1" required>
                    {% for type in contact_types %}
                        {% if type == ticket_data[0]['ContactType'] %}
                            <option selected>{{type}}</option>
                        {% else %}
                            <option>{{type}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
          </div>

           <div class="col-md-2">
               <label for="ContactDate" class="form-label account_search_labels">*Contact Date:</label>
               <input type="date" class="form-control text-center" id ="ContactDate" value="{{ticket_data[0]['ContactDate']}}" name="ContactDate" aria-label="Date" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-2">
               <label for="ContactTime" class="form-label account_search_labels">*Contact Time:</label>
               <input type="time" class="form-control text-center" id="ContactTime" value="{{ticket_data[0]['ContactTime']}}" name="ContactTime" aria-label="Time" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-4">
               <label for="ReturnOperator" class="form-label account_search_labels">*Return Call Operator:</label>
               <select class="form-select text-center" id="ReturnOperator" name="ReturnOperator" aria-label="ReturnOperator" aria-describedby="basic-addon1" required>
                   {% for user in return_operators %}
                    {% if user == ticket_data[0]['ReturnOperator'] %}
                        <option selected>{{user}}</option>
                    {% else %}
                        <option>{{user}}</option>
                    {% endif %}
                   {% endfor %}
               </select>
            </div>

       </div>


         <div class="row text-center mb-5">

           <div class="col-md-4">
               <label for="CallerVisitor" class="form-label account_search_labels">*Caller/Visitor:</label>
               <input type="text" class="form-control text-center" id="CallerVisitor" value="{{ticket_data[0]['CallerOrVisitor']}}" name="CallerVisitor" aria-label="CallerVisitor" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-4">
               <label for="PhoneNumber" class="form-label account_search_labels">*Phone Number:</label>
               <input type="tel" class="form-control text-center" id="PhoneNumber" value="{{ticket_data[0]['PhoneNumber']}}" name="Telephone" aria-label="Telephone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" aria-describedby="basic-addon1" required>
          </div>

           <div class="col-md-4">
               <label for="EmailAddress" class="form-label account_search_labels">Email Address:</label>
               <input type="email" class="form-control text-center" id="EmailAddress" value="{{ticket_data[0]['EmailAddress']}}" name="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>
       </div>


         <div class="row text-center mb-5">

           <div class="col-md-4">
               <label for="Status" class="form-label account_search_labels">*Ticket Status:</label>
               <select class="form-select text-center" id="Status" name="Status" aria-label="TicketStatus" aria-describedby="basic-addon1" required>
                   {% for status in status_options %}
                    {% if status == ticket_data[0]['Status'] %}
                        <option selected>{{status}}</option>
                    {% else %}
                        <option>{{status}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
           </div>

           <div class="col-md-4 mt-4">
               {% if personal_property == False %}
                <h5><a href="https://www.pa.martin.fl.us/app/search/view/{{ticket_data[0]['AccountNumber']}}" target="_blank">Real Property Card</a></h5>
               {% else %}
                <h5><a href="https://www.pa.martin.fl.us/app/search/personal-property?direction=asc&limit=20&offset=0&orderBy=pin&searchField=all" target="_blank">Personal Property Search</a></h5>
               {% endif %}
            </div>

           <div class="col-md-4 mt-4">
               <h5><a href="https://mcpaofiles.com/trim_notices/2024/{{ticket_data[0]['AccountNumber']}}.pdf" target="_blank">TRIM Notice</a></h5>
            </div>
       </div>

         <div class="row text-center mb-5">
           <div class="col-md-12">
               <label for="ReasonForCall" class="form-label account_search_labels">Reason For Call:</label>
               <textarea readonly class="form-control bg-secondary-subtle" id="ReasonForCall" name="CallReason" aria-label="CallReason" rows="6" aria-describedby="basic-addon1" style="white-space: pre-line; text-align: left;">{{ticket_data[0]['ReasonForCall']}}</textarea>

          </div>
         </div>

        <div class ="row text-center">
             <div class="d-grid gap-5 col-4 mx-auto mb-5">
                 <button id="formSubmit" class="btn btn-primary" type="submit">
                    Save Ticket</button>
             </div>
        </div>

     </form>

        {% include 'CT_TicketCorrespondence.html' %}

    </div>

    {% include 'footer.html' %}

  </body>
</html>