<div class = "container">

      <h1 class = "header p-3 border border-start-10 rounded-start rounded-end text-center mx-auto"> Update Ticket Type </h1>

     <form action="/admin/tickettype/submitted" method="post" autocomplete="off" id="formUpdateTicketType">

       <div class="row text-center mt-5">

           <div class="col-md-2"></div>

           <div class="col-md-4">
               <label for="TicketType" class="form-label account_search_labels">Ticket Type:</label>
               <select class="form-select text-center" id="TicketType" name="TicketType" aria-label="TicketType" aria-describedby="basic-addon1" required>
                   {% for type in ticketTypes %}
                        <option>{{type}}</option>
                    {% endfor %}
               </select>
           </div>

           <div class="col-md-4">
               <label for="TicketYear" class="form-label account_search_labels">Ticket Year:</label>
               <select class="form-select text-center" id="TicketYear" name="TicketYear" aria-label="TicketYear" aria-describedby="basic-addon1" required>
                   {% for year in ticketYears %}
                        <option>{{year}}</option>
                    {% endfor %}
               </select>

           </div>

           <div class="col-md-2"></div>

           <div class="row text-center">

             <div class="d-grid gap-5 col-4 mx-auto mt-5">
                    <button class="btn btn-primary" type="submit">
                    Update</button>
             </div>
         </div>

       </div>

     </form>

</div>
