<div class="row mb-5 justify-content-evenly mx-auto grid border-bottom border-black">

    <label class="text-center fw-bold fs-3">Got It Count By User </label>
            <div class="bg-box col-12 mx-auto p-3 text-center">
                <div>
                  <canvas id="userGotItCountsChart"></canvas>
                </div>

                <script>
                  const ctx_userGotItCounts = document.getElementById('userGotItCountsChart');
                  var labels_Usernames = {{ gotItUsers | safe }};
                  var vals_GotItCounts = {{ gotItCountsValuesList | safe }};

                  var barChart_userGotItCounts = new Chart(ctx_userGotItCounts, {
                    type: 'bar',
                    data: {
                      labels: labels_Usernames,
                      datasets: [{
                        label: 'Got It Count',
                        data: vals_GotItCounts,
                          fill: false,
                        borderWidth: 1,
                          borderColor: '#DA8B7F',
                          backgroundColor: ['#F3CC7A']
                      }]
                    },
                    options: {
                        indexAxis: 'y',
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });

                </script>
            </div>

        </div>