<div class="row mb-5 justify-content-evenly mx-auto grid border-bottom border-black">

    <label class="text-center fw-bold fs-3">Tickets Created Timeline</label>
            <div class="bg-box col-12 mx-auto p-3 text-center">
                <div>
                  <canvas id="ticketsCreatedChart"></canvas>
                </div>

                <script>
                  const ctx_TicketsCreated = document.getElementById('ticketsCreatedChart');
                  var dates_TicketsCreated = {{ datesCreated | safe }};
                  var vals_TicketsCreated = {{ datesCreatedValuesList | safe }};

                  var lineChart_TicketsCreated = new Chart(ctx_TicketsCreated, {
                    type: 'line',
                    data: {
                      labels: dates_TicketsCreated,
                      datasets: [{
                        label: 'Tickets Created Count',
                        data: vals_TicketsCreated,
                          fill: false,
                          borderWidth: 1,
                          borderColor: '#DA8B7F',
                          backgroundColor: '#F3CC7A',
                          pointStyle: 'circle',
                          pointRadius: 5,
                          pointHoverRadius: 15
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });


                  /*Function to update the line chart*/
                    function updateLineGraphs(chart, label, color, data, labels) {
                        chart.data.datasets.pop();
                        chart.data.labels = labels[0];
                        chart.data.datasets.push({
                            label: label,
                            backgroundColor: color,
                            borderWidth: 1,
                            borderColor: '#DA8B7F',
                            pointRadius: 5,
                            pointHoverRadius: 15,
                            data: data[0]
                        });
                        chart.update();
                    }

                </script>
            </div>

        </div>